.left-menu-container {
    background-color: #1E1E1E;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 20%;
    display: flex;
    flex-direction: column;
}

.app-logo {
    background-color: none;
    padding-left: 20%;
    padding-right: 20%;
}

.friend-buttons {
    display: flex;
    justify-content: space-between;
    height: 6rem;
}

.friend-button {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 50%;
    background-color: #303030;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.friend-button.active {
    background-color: #1D9BF0;
}

.friend-button.left {
    border-right: 2px solid #1E1E1E;
}

.friend-button.right {
    border-left: 2px solid #1E1E1E;
}

.profile-section {
    margin-top: auto;
}

.profile-container {
    background-color: #838383;
    color: #FFFFFF;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 3%;
}

.profile-container img {
    border-radius: 50%;
    margin-right: 3%;
}

.profile-container svg {
    margin-left: auto;
}